PORT=4000
FRONTEND_ORIGIN=http://localhost:5173
FIREBASE_USE_LOCAL=false
LOCAL_FIREBASE_DATA_FILE=.local-firebase-data.json
FIREBASE_USE_EMULATORS=false
FIREBASE_PROJECT_ID=
FIREBASE_CLIENT_EMAIL=
FIREBASE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\\nYOUR_KEY\\n-----END PRIVATE KEY-----\\n"
FIREBASE_AUTH_EMULATOR_HOST=127.0.0.1:9099
FIRESTORE_EMULATOR_HOST=127.0.0.1:8080
ADMIN_EMAILS=admin@example.com
